body {
  background: #f3f1f2;
  font-family: sans-serif;
}

.quill .ql-container {
  background: #fff;
  font-size: 22px;
}

/* Snow Theme */
.quill .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;

}
/* Bubble Theme */
.quill .ql-bubble {
  z-index: 100;
}

.quill .ql-editor {
  min-height: 15em;
}

.quill .ql-editor {
  min-height: 12em;
  max-height: 12em;
  overflow-y: scroll;
}
